.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
  overflow-y: hidden;
  padding-top: 4rem;
  height: 100dvh;
  box-sizing: border-box;
}

.listContainer {
  border: 1px solid var(--primary);
  border-radius: var(--headerRadius);
  max-height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.addBar {
  background-color: var(--accentPrimary);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 0.2rem 0.2rem;
  border-radius: var(--inputRadius);
  border: 1px solid var(--onPrimary);
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.inputSmall {
  width: 4rem;
}

.iconButton {
  width: 2rem;
  height: 2rem;
}

.tableHead {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  width: 100%;
  gap: 2rem;
}

.tableHeadItem {
  padding: 0.5rem 0.5rem;
}

.table {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.tableRow {
  background-color: var(--table);
  display: flex;
  align-items: center;
  gap: 2rem;
}

.tableRow:nth-child(even) {
  background-color: var(--tableEven);
}

.tableItem {
  color: var(--onBackground);
  padding: 0.25rem 0.5rem;
}

.tableColumn {
  flex: 1;
}

.tableColumnSmall {
  width: 5rem;
}

.tableColumnIcon {
  width: 2rem;
}

.tableInput {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--onBackground);
  padding: 0.25rem;
  width: 100%;
}

.tableInput:active {
  border: 1px solid var(--onBackground);
}
