.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
  overflow-y: hidden;
  padding-top: 4rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

.daysContainer {
  display: flex;
  align-items: flex-start;
  gap: 1px;
}

.dayContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
