.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
  overflow: hidden;
  padding-top: 4rem;
  box-sizing: border-box;
  height: 100dvh;
  max-width: 100dvw;
}

.daysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: flex-start;
  gap: 1px;
  max-width: 100%;
  min-width: 100dvw;
  height: 100%;
  overflow: auto;
}

.dayContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media print {
  .container {
    padding: 0;
    height: fit-content;
    gap: 2rem;
  }

  .daysContainer {
    height: auto;
    overflow: visible;
  }

  .dayContainer {
    gap: 0;
  }
}
