.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--primary);
  border-radius: var(--headerRadius);
  box-sizing: border-box;
}

.header {
  font-size: 1.25rem;
  background-color: var(--primary);
  padding: 0.25rem 0;
  margin: 0;
  text-align: center;
}

.table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tableRow {
  background-color: var(--table);
  display: flex;
  align-items: center;
  gap: 2rem;
  border-right: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
}

.tableItem {
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
}

.tableAmount {
  white-space: nowrap;
}
