.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
  overflow-y: hidden;
  padding-top: 4rem;
  height: 100dvh;
  box-sizing: border-box;
}

.listContainer {
  border: 1px solid var(--primary);
  border-radius: var(--headerRadius);
  max-height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.recipesContainer {
  overflow-y: auto;
}

.addBar {
  background-color: var(--accentPrimary);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input {
  padding: 0.2rem 0.2rem;
  border-radius: var(--inputRadius);
  border: 1px solid var(--onPrimary);
  box-sizing: border-box;
}

.iconButton {
  width: 2rem;
  height: 2rem;
}
